# MSP Manager API Configuration
MSP_API_KEY=d1J6amR6UnpiendBUE9QekJrTEl2ZkJvYStuWDg5QkZCWVRXVFdpSzNjSW95MFY2cGpRdkNuQTcxc1VZeTE2SnB1UWNMUDZBWWhjdWovODh5cEx4eWc9PTpiYTljNWI5MjFjYzY0OWQ1YTg4ZDZiMGY4MmQzYTZkNzppRkgrM2Y1bzN2YUplMnBmK2Y1ZG9OTGJwaHBINGlocTdpdWhtODFPcGttSG9lYVQ0ZWpGNmh4SGk1bFBhM0lOOUpYbmFWTHhTM0Y3bldRNUFaVDhPdUVJQ1kwQlNjM3diU3NHVmhPZDV2V1ZtZzdoMEI4NjRsZGVJTEFNcnZkUm9rT0JLQlBWYkVGZGpnU0lxRG9LM2tEZEZybUI3Qk91YnA0ZVR1K3MrK21qSEtQTnNSRU5NVUEwL3RRWCswZ2s5UkJVOGN1QnFyTTZhVnhnNHV6N2N3PT0=

# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration (optional)
CORS_ORIGIN=http://localhost:3000

